.App {
  font-family: sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.897);
}

body {
  background-color: #cd8602;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23e1921a'/%3E%3C/svg%3E");
}

#emo-input {
  padding: 1rem;
  width: 30rem;
  margin: auto;
  font-size: large;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  margin: auto;
  margin: 2rem auto;
  border: 1px solid #4d39144b;
  box-shadow: 10px 10px 5px #8b6113;
}

.flex-items {
  justify-content: center;
  font-size: xx-large;
  padding: 0.5rem;
  cursor: pointer;
}

.container-items {
  align-self: center;
  padding: 0rem 1rem;
}

.img {
  max-width: 80%;
  width: 120px;
}
@media only screen and (max-width: 550px) {
  #emo-input {
    width: 15rem;
    font-size: small;
  }

  .display-flex {
    width: 18rem;
  }
}
